h1{
  color:#D62F3F;
}

body{
  background-color: #FEC956;
  height: auto;
  z-index: 0;
  display: flex;
}

#container{
  height: auto;
  padding: 32px 32px 64px 32px;
  z-index: 5;

}

/* Photo desp */

.item{
  width: 100%;
}

.price{
  position: relative;
  width: 3em;
  height: 3em;
  line-height: 90px;
  border-radius: 1.5em;
  
  top:1.5em;
  left:50%;
  transform: translate(-50%);
  text-align: center;
  font-size: 30px;
  color:#D62F3F;

  background-color: #FEC956;
  box-sizing: content-box;
  
}
.photo_desp{
  margin-bottom: 16px;
}

.card{
  background-color: #F7E9D0;
  padding: 16px;
}

.card > legend{
  font-size: 20px;
  color: #1D519E;
}
.choose-amount {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 16px;
  margin-bottom: 16px;
}

.btn_add, .btn_minus{
  width: 45px;
  height: 45px;

}

.quantity{
  width: 30%;
  height: 45px;
  line-height: 45px;
  border: 0px;
  background-color: #FEC956;
  border-radius: 6px;
  font-size: 25px;
  outline: none;
  text-align: center;
  vertical-align: middle;
  color: #D62F3F;
}

/* Decoration in background */
#deco1{
  position: fixed;
  left: 35px;
  z-index:0;
  opacity: 0.7;
}

#deco2{
  position: fixed;
  right: 35px;
  bottom:50%;
  z-index:0;
  opacity: 0.7;
}


#deco3{
  position: fixed;
  left: 35px;
  bottom: 0px;
  z-index:0;
  opacity: 0.7;
}

#trolley{
  position: fixed;
  width: 48px;
  height: 48px;
  top: 16px;
  right: 16px;
  background: url(img/basket_blue.svg) no-repeat;
  background-size: contain;
  /* align-items: center;
  text-align: center; */
  z-index: 10;
}

#trolley > span{
  width: 100%;
  display: block;
  font-size: 15px;
  color: #FEC956;
  position: absolute;
  bottom: 8px;
  text-align: center;
  

}