#container{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center ;
  margin-top: 72px;
}

#container > div{
  margin: 16px;
}
#container > input{
  margin: 16px;
}

#date > span{
  background-color:#FEC956;
  color:#D62F3F; 
  border: solid 8px;
  display: inline-block;
  border-radius: 14px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 30px;
}


#bmi{
  background-color:#FEB30F;
  color:#F7E9D0; 
  border: solid 8px #FEB30F;
  display: inline-block;
  border-radius: 42px;
  padding: 8px;
  font-size: 25px;
  text-align: center;
}


#energy{
  width: 275px;
  height: 93px;
  background-color: #D62F3F;
  border-radius: 21px;
  /* padding: 8px; */
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}


#energy >  tbody > tr > th {
  color: #feb30f;
}

#energy >  tbody > tr > td {
  color: #F7E9D0;
}

#chart{
  margin-bottom: 50px ;
}


span{
  color: #1D519E;
  font-size: 16px;
  font-weight: bold;
}

/* 工具栏toolbar */

.toolbar {
  width: 100%;
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  align-items: baseline;
  background-color: #F7E9CE;
}

.toolbar>h1 {
  display: inline-block;
  margin-left: 16px;
}


.toolbar>a {
  float: right;
  margin: 16px;
  text-align: right;
}
