*{
  padding: 0;
  margin: 0;
}

html, body{
  height:100%;
  display:flex;
  flex-direction: column;
}

form{
  margin: 32px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}




/* 底部按钮 */
.nav_btn{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.nav_btn > a:hover{
  opacity: 0.5;
}

/** Show weight**/
#weight_show{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 32px;
  background-color: #FEB30F;
  border-radius: 26px;
}

#weight_show span{
  display: block;
  width: 80%;
  height: 1em;
  background-color: #F7E9D0;
  color:#1D519E;
  margin: 16px;
  padding: 16px;
  border-radius: 2em;
}



/** Style for frequence question **/
input[name="freq"]{
  display: none;
}
.freq-option label{
  font-size: 30px;
  color: #D62F3F;
}

input[name="freq"]:checked ~ label{
  color: #1D519E;
}

input[name="freq"]:hover ~ label{
 opacity: 0.7;
}