#container{
  box-sizing: border-box;
  padding: 32px;
}

.input-group{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.label-group, .text-group{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.label-group{
  flex-shrink: 2;
}

.text-group{
  flex-shrink: 1;
}


.label-group label{
  font-size: 30px;
  color: #1D519E;
  font-weight: bolder;
  text-align: left;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 1.5em;
}


input[type=submit]:hover {
  background-color: #45a049;
}

input[type=submit] {
  width: 20%;
  min-width: 100px;
  display:block;
  text-align: center;
  background-color: #D62F3F;
  font-size: 30px;
  border-radius: 8px;

  color: white;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* 输入框 */
/* .input-group{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}



.input-text {
  margin-right: 48px;
}





/* Add a background color to the submit button on mouse-over */
