#container{
  box-sizing: border-box;
  padding: 32px;
}

/* 输入框 */
.input-group{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.input-group label{
  font-size: 30px;
  color: #1D519E;
  font-weight: bolder;
  margin-left: 48px;
}

.input-text {
  width: 40%;
  margin-right: 48px;
}


input[type=submit] {
  width: 20%;
  display:block;
  text-align: center;
  background-color: #D62F3F;
  font-size: 30px;
  border-radius: 8px;

  color: white;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #45a049;
}