

button{
  display: block;
  border: solid #FEC956 8px;
  border-radius: 32px;
  font-size: 32px;
  color: #F7E9D0;
  background-color:#D62F3F;
  padding-left: 32px;
  padding-right: 32px;
  margin: 32px;
}

#container{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center ;
}


.results{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 16px;
  width: 100%;
}
.result{
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: ;
  margin-bottom: 16px;
}

.result > img{
  width: 148px;
  height: 148px;
  display: block;

}

.result > .content{
  display: block;
  margin-left: 32px;
}

#search{
  color:#1D519E;
  font-size: 30px;
  text-align: center;
}