/* At the top level of your code */
@media screen and (max-width: 400px) {
  h1{
    font-size: 20px;
    margin: 0px;
  }

  p{
    font-size: 16px;
    margin: 8px;
    text-align: left;
  }
  
  

  .result > img{
    width: 30%;
    height: auto;
    display: block;
  
  }
  
  .result > .content{
    width:100%;
    display: block;
    padding-left: 16px;
  }
  
  #search{
    color:#1D519E;
    font-size: 30px;
    text-align: center;
  }

  .results{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
  }

  
button{
  padding-left: 32px;
  padding-right: 32px;
  margin: 16px;
}


}

@media screen and (min-width:400px){
  .result > img{
    width: 148px;
    height: 148px;
    display: block;
  
  }
  
  .result > .content{
    display: block;
    margin-left: 16px;
  }
    
button{
  padding-left: 32px;
  padding-right: 32px;
  margin: 32px;
}
  
.results{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 16px;
}

}


button{
  display: block;
  border: solid #FEC956 8px;
  border-radius: 32px;
  font-size: 32px;
  color: #F7E9D0;
  background-color:#D62F3F;
}

#container{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center ;
}

.result{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}



#search{
  color:#1D519E;
  font-size: 30px;
  text-align: center;
}
